<mat-drawer-container
  class="example-container"
  [hasBackdrop]="hasBackdrop.value"
  [style.height.%]="100"
>
  <mat-drawer
    [style.width.px]="300"
    [style.marginLeft.px]="!drawer.opened ? 65 : 0"
    [class]="!drawer.opened ? 'show-mini-drawer' : ''"
    #drawer
    [mode]="mode.value"
    [position]="'start'"
  >
    possible!!!
  </mat-drawer>
  <mat-drawer-content  style="margin-left: 100px;">
    <div>
      <mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">
        {{ drawer.opened }}
      </button>
    </div>

    <div>
      <app-date-time-picker></app-date-time-picker>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
